{%extends 'base.html'%}
{%load static%}
{%block content%}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Eduline Education Category Bootstrap Responsive Website Template | About :: W3layouts</title>
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'css/style-starter.css' %}">
  <!-- Template CSS -->
  <link href="//fonts.googleapis.com/css?family=Muli:300,300i,400,500,600,700,800,900&display=swap" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900&display=swap" rel="stylesheet">
  <!-- Template CSS -->

</head>
<body>

<!--/top-header-content-->
<section class="w3l-top-header-content">
	<div class="hny-top-menu">
		<div class="top-hd">
			<div class="container-fluid">
				<div class="row">
					<ul class="social-top col-md-7">
						<li class="log-link mr-3"><a class="sign-in"  href="#"><span class="fa fa-user"></span> Hi {{user}}</a></li>
						<!-- <li><a href="#"><span class="fa fa-facebook"></span></a></li>
						<li><a href="#"><span class="fa fa-instagram"></span></a> </li>
						<li><a href="#"><span class="fa fa-twitter"></span></a></li>
						<li><a href="#"><span class="fa fa-vimeo"></span></a> </li>
						<li>
							<a href="#">
								<span class="fa fa-linkedin"></span>
							</a>
						</li> -->
					</ul>
					<ul class="accounts col-md-5">
						<!-- <li class="top_li"><span class="fa fa-mobile"></span><a href="tel:+142 5897555">+142
								5897555</a>
						</li>

						<li class="top_li mr-lg-0"><span class="fa fa-envelope-o"></span><a href="mailto:info@example.com">Need help? Contact Us </a>

						</li> -->
						<li class="log-link mr-3"><a class="sign-in"  href="/logout"><span class="fa fa-user"></span> Logout</a></li>
					</ul>
				</div>
			</div>
		</div>

	</div>

</section>
<!--//top-header-content-->

<!--w3l-banner-slider-main-->
<section class="w3l-banner-slider-main w3l-inner-page-main">
	<div class="breadcrumb-infhny">
		<header class="top-headerhny">
			<!--/nav-->
			<nav class="navbar navbar-expand-lg navbar-light fill">
				<div class="container-fluid">
					<a class="navbar-brand" href="/">
						<label class="lohny"><span class="fa fa-graduation-cap" aria-hidden="true"></span>Students</label>Hub</a>
					<!-- if logo is image enable this
						<a class="navbar-brand" href="#index.html">
							<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
						</a> -->
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mx-lg-auto ml-auto">
							<li class="nav-item active">
								<a class="nav-link" href="/">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/upload">Upload</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{%url 'list_of_categories'%}">Courses</a>
							</li>


							{%if user.is_staff%}
							<li class="nav-item">
								<a class="nav-link" href="/approve">Pending Approvals {{approvals}}</a>
							</li>
							{%endif%}
						</ul>

					</div>
					<script>
						$(document).ready(function(){
							$("#txtSearch").autocomplete({
								source: "/ajax_calls/search/",
								minLength: 2,
								open: function(){
									setTimeout(function () {
										$('.ui-autocomplete').css('z-index', 99);
									}, 0);
								}
							  });
						});
					  </script>
					<form id="search" method="GET" action="{% url 'search_view' %}" class="d-flex searchhny-form" onsubmit="window.location.reload();myButton.disabled = true;   return true;">
						<!-- {% csrf_token %} -->
						<input type="text" class="form-control" placeholder="Search Here..." required='required' id="txtSearch" name="txtSearch">
						<button type="submit" class="btn btn-default btn-submit"><span class="fa fa-search" ></span></button>
						</form>
				</div>
			</nav>
			<!--//nav-->
    </header>
    <!-- /breadcrumbs-->
    <div class="container">
        <nav aria-label="breadcrumb" class="breadcrumb-info">
          <h2 class="hny-title text-center">Upload Content</h2>
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Upload</li>
          </ol>
        </nav>
      </div>
          <!-- //breadcrumbs-->
	</div>
	<!--//banner-slider-->
</section>
<script>
	document.getElementById("id_pdf").style.display ="none";
	function myFunction() {
  		var x = document.getElementById("id_pdf");
 		var y = document.getElementById("id_link");
		var z = document.getElementById("name");
  		if (x.style.display == "none") {
    		x.style.display = "block";
    		y.style.display = "none";
			z.innerHTML="only link"
  		} else {
    		x.style.display = "none";
			y.style.display = "block";
			z.innerHTML = "only	pdf"
		  }
	}

</script>

<section class="w3l-wecome-content-6">
	<!-- /content-6-section -->
	  <div class="ab-content-6-mian py-5">
			 <div class="container py-lg-5">
					<div class="welcome-grids row">
							<div class="col-lg-6 mb-lg-0 mb-5">
								<!-- <h6>About Us</h6>
								<h3 class="hny-title">
									Improving Lives Through Learning
									</h3>
								<p class="my-4">Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id erat eu ullamcorper. Nunc id ipsum fringilla,
								gravida felis vitae. Phasellus lacinia id, sunt in culpa quis. Phasellus lacinia</p>
								<p class="mb-4">Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id erat eu ullamcorper. Nunc id ipsum fringilla.</p>
								<div class="button-4-pink">
									<div class="eff-4-pink"></div>
									<a href="services.html"> Read More</a>
								</div> -->
								<h3>Upload Files Page</h3>
								{% if user.is_authenticated %}
								<form method="post" enctype="multipart/form-data" >
									{% csrf_token %}
									{{ form.as_p }}
									<button id="name" onclick="myFunction()">only link</button>
									<button type="submit">Submit</button>
									<input type="button" value="Cancel" onclick="history.back()">
								</form>
								{% else %}
									<p>You are not logged in. Either Login or Sign-up in order to access this functionality.</p>
									<a href="{% url 'login_view' %}">Login</a>
                  <br><br>
                  <p>OR</p>
									<a href="{% url 'signup_view' %}">SignUp</a>
								{% endif %}
							</div>
							<div class="col-lg-6 welcome-image">
								<img src="{% static 'images/ab.jpg'%}" class="img-fluid" alt="" />
							</div>

						</div>

				 </div>
			 </div>
	 </section>
   <!-- //content-6-section -->


<!-- //specification-6-->


   <!-- //content-6-section -->


	<!--/team-sec-->
	<!--<section class="w3l-team-main">
		<div class="team py-5">
			<div class="container py-lg-5">
					<div class="row title-content">
							<div class="col-lg-4 title-left">
								<h3 class="hny-title">Expert Instructors</h3>
							</div>
							<div class="col-lg-8 title-info">
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eligendi minima
									accusantium
									reiciendis, cupiditate optio corrupti quis quam at!.Duis aute irure dolor in reprehenderit
									in voluptate velit esse cillum.</p>
							</div>
						</div>
					<div class="row team-row">
							<div class="col-lg-3 col-md-6 team-wrap">
									<div class="team-info text-center">
										<div class="column position-relative">
											<a href="#url"><img src="{% static 'images/team1.jpg'%}" alt="" class="img-fluid team-image" /></a>
										</div>
										<div class="column">
											<h3 class="name-pos"><a href="#url">Mickel Zaman</a></h3>
											<p>Law Instructor</p>
											<div class="social">
												<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
												<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
											</div>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 team-wrap">

									<div class="team-info text-center">
											<div class="column position-relative">
												<a href="#url"><img src="{% static 'images/team2.jpg'%}" alt="" class="img-fluid team-image" /></a>
											</div>
											<div class="column">
												<h3 class="name-pos"><a href="#url">Paul Croves</a></h3>
												<p>English Instructor</p>
												<div class="social">
													<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
													<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
												</div>
										</div>
									</div>
							</div>

							<div class="col-lg-3 col-md-6 team-wrap">
									<div class="team-info text-center">
											<div class="column position-relative">
												<a href="#url"><img src="{% static 'images/team3.jpg'%}" alt="" class="img-fluid team-image" /></a>
											</div>
											<div class="column">
												<h3 class="name-pos"><a href="#url">Ricardo Spencer</a></h3>
												<p>Gym Instructor</p>
												<div class="social">
													<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
													<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
												</div>
										</div>
									</div>

							</div>
							<div class="col-lg-3 col-md-6 team-wrap">

									<div class="team-info text-center">
											<div class="column position-relative">
												<a href="#url"><img src="{% static 'images/team4.jpg'%}" alt="" class="img-fluid team-image" /></a>
											</div>
											<div class="column">
												<h3 class="name-pos"><a href="#url">Marko Dugonji</a></h3>
												<p>Law Instructor</p>
												<div class="social">
													<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
													<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
												</div>
										</div>
									</div>
							</div>
							<div class="col-lg-3 col-md-6 team-wrap">
									<div class="team-info text-center">
										<div class="column position-relative">
											<a href="#url"><img src="{% static 'images/team5.jpg'%}" alt="" class="img-fluid team-image" /></a>
										</div>
										<div class="column">
											<h3 class="name-pos"><a href="#url">Anthony</a></h3>
											<p>Physics Instructor</p>
											<div class="social">
												<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
												<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
											</div>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 team-wrap">

									<div class="team-info text-center">
											<div class="column position-relative">
												<a href="#url"><img src="{% static 'images/team6.jpg'%}" alt="" class="img-fluid team-image" /></a>
											</div>
											<div class="column">
												<h3 class="name-pos"><a href="#url">Emma Stone</a></h3>
												<p>Maths Instructor</p>
												<div class="social">
													<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
													<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
												</div>
										</div>
									</div>
							</div>

							<div class="col-lg-3 col-md-6 team-wrap">
									<div class="team-info text-center">
											<div class="column position-relative">
												<a href="#url"><img src="{% static 'images/team7.jpg'%}" alt="" class="img-fluid team-image" /></a>
											</div>
											<div class="column">
												<h3 class="name-pos"><a href="#url">Rhoda Byrd</a></h3>
												<p>Finance Instructor</p>
												<div class="social">
													<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
													<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
												</div>
										</div>
									</div>

							</div>

							<div class="col-lg-3 col-md-6 team-wrap">

									<div class="team-info text-center">
											<div class="column position-relative">
												<a href="#url"><img src="{% static 'images/team8.jpg'%}" alt="" class="img-fluid team-image" /></a>
											</div>
											<div class="column">
												<h3 class="name-pos"><a href="#url">Max Stoiber</a></h3>
												<p>History Instructor</p>
												<div class="social">
													<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
													<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
												</div>
										</div>
									</div>
							</div>
				</div>
			</div>
	</section>-->
	<!--//team-sec-->
  <section class="w3l-footer-16">
      <div class="w3l-footer-16-main py-5">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4 column">
                      <div class="row">
                          <div class="col-md-8 column">

                                  <a class="logo-2" href="/">
                                          <label class="lohny-2"><span class="fa fa-graduation-cap" aria-hidden="true"></span>Students</label>Hub</a>

                              <div class="ad-text-inf">
                                  <p><span class="color-hny">Address :</span>Amrita School of Engineering, Amritapuri</p>
                               </div>
                               <div class="ad-text-inf">
                                      <p><span class="color-hny">Email :</span>studentshub@gmail.com</p>
                                   </div>
                                   <div class="ad-text-inf">
                                          <p><span class="color-hny">Phone :</span>+91-9947388822</p>
                                       </div>
                          </div>
                          <div class="col-md-4 column">

                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 column column3 mt-lg-0 mt-4">

                  </div>
                  <div class="col-lg-4 col-md-6 column column4 mt-lg-0 mt-4">
                    <div class="col-md-4 column">
                        <h3>Pages</h3>
                        <ul class="footer-gd-16">
                          <li><a href="/">Home</a></li>
                          <li><a href="/upload">Upload</a></li>
                          <li><a href="{%url 'list_of_categories'%}">Courses</a></li>
                          {%if user.is_staff %}
            							<li><a href="/approve">Approvals</a></li>
            							{%endif%}
                        </ul>
                    </div>
              </div>
          </div>
      </div>

      <!-- move top -->
      <button onclick="topFunction()" id="movetop" title="Go to top">
          <span class="fa fa-angle-up"></span>
      </button>
      <script>
          // When the user scrolls down 20px from the top of the document, show the button
          window.onscroll = function () {
              scrollFunction()
          };

          function scrollFunction() {
              if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                  document.getElementById("movetop").style.display = "block";
              } else {
                  document.getElementById("movetop").style.display = "none";
              }
          }

          // When the user clicks on the button, scroll to the top of the document
          function topFunction() {
              document.body.scrollTop = 0;
              document.documentElement.scrollTop = 0;
          }
      </script>
      <!-- //move top -->
      <script>
          $(function () {
              $('.navbar-toggler').click(function () {
                  $('body').toggleClass('noscroll');
              })
          });
      </script>
  </section>
<!-- footer -->

<!-- //footer -->
</body>

</html>

<script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll which navbar is in active -->
<!-- //jQuery-Photo-filter-lightbox-portfolio-plugin -->
<script src="{% static 'js/bootstrap.min.js'%}"></script>
{%endblock%}
