{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <td>
    Upload Files<a href="/upload">Add</a>
  </td>
  {%if user.is_staff %}
  <td>Aprove files<a href="/approve">{{approvals}}</a></td>
  {% endif %}
<p><a href="/logout">logout</a></p>
<script>
  $(document).ready(function(){ 
      $("#txtSearch").autocomplete({
          source: "/ajax_calls/search/",
          minLength: 2,
          open: function(){
              setTimeout(function () {
                  $('.ui-autocomplete').css('z-index', 99);
              }, 0);
          }
        });
  });
</script>

<form id="search" method="GET" action="{% url 'search_view' %}" onsubmit="window.location.reload();myButton.disabled = true;   return true;">
 <!-- {% csrf_token %} -->
 <input type="text" class="form-control" id="txtSearch" name="txtSearch">
 <button type="submit" class="btn btn-default btn-submit">Submit</button>
 </form>
<h3>Files</h3>
<ol>
    {% for post in object %}
    {% if post.access == True %}
    {% if post.pdf.url != null %}
        <li><a href="{{post.pdf.url}}">{{ post.title }}</a>
          <td>   {{post.rating}}/5.0</td>
        </li>
        
    {% else %}
        <li><a href="{{post.link}}">{{ post.title }}</a>
          <td>   {{post.rating}}/5.0</td>
        </li>
    {% endif %}
    {% endif %}
    {% endfor %}
</ol>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login_view' %}">login</a>
  <a href="{% url 'signup_view' %}">SignUp</a>
  <form id="search" method="GET" action="{% url 'search_view' %}" onsubmit="window.location.reload();myButton.disabled = true;   return true;">
    <!-- {% csrf_token %} -->
    <input type="text" class="form-control" id="txtSearch" name="txtSearch">
    <button type="submit" class="btn btn-default btn-submit">Submit</button>
    </form>
   <h3>Files <td>{{name}}</td></h3>
   <ol>
       {% for post in object %}
       {% if post.access == True %}
       {% if post.pdf.url != null %}
           <li><a href="{%url 'login_view'%}">{{ post.title }}</a>
             <td>   {{post.rating}}/5.0</td>
           </li>
           
       {% else %}
           <li><a href="{% url 'login_view'%}">{{ post.title }}</a>
             <td>   {{post.rating}}/5.0</td>
           </li>
       {% endif %}
       {% endif %}
       {% endfor %}
{% endif %}
{% endblock %}
