{% extends 'base.html' %}
{%load static%}
{% block content %}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>StudentsHub | Home</title>
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'css/style-starter.css' %}">
  <!-- Template CSS -->
  <link href="//fonts.googleapis.com/css?family=Muli:300,300i,400,500,600,700,800,900&display=swap" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900&display=swap" rel="stylesheet">
  <!-- Template CSS -->
	<!-- <script>
		$(document).ready(function() {
		  $(this).attr("id").click(function() {
    		$(this).attr("#comments").toggle();
  			});
		});
	</script> -->
</head>
<body>

<!--/top-header-content-->
<section class="w3l-top-header-content">
	<div class="hny-top-menu">
		<div class="top-hd">
			<div class="container-fluid">
				<div class="row">
					<ul class="social-top col-md-7">
						{%if user.is_authenticated %}
						<li class="log-link mr-3"><a class="sign-in"  href="/"><span class="fa fa-user"></span> Hi {{user.username}}</a></li>
						{% else %}
						<li class="log-link mr-3"><a class="sign-in"  href="login/"><span class="fa fa-user"></span> Sign In</a></li>
						{%endif%}
						<!-- <li><a href="#"><span class="fa fa-facebook"></span></a></li>
						<li><a href="#"><span class="fa fa-instagram"></span></a> </li>
						<li><a href="#"><span class="fa fa-twitter"></span></a></li>
						<li><a href="#"><
							span class="fa fa-vimeo"></span></a> </li>
						<li>
							<a href="#">
								<span class="fa fa-linkedin"></span>
							</a>
						</li> -->
					</ul>
					<ul class="accounts col-md-5">
						<!-- <li class="top_li"><span class="fa fa-mobile"></span><a href="tel:+142 5897555">+142
								5897555</a>
						</li>

						<li class="top_li mr-lg-0"><span class="fa fa-envelope-o"></span><a href="mailto:info@example.com">Need help? Contact Us </a>

						</li> -->
						<li class="log-link mr-3"><a class="sign-in"  href="/logout"><span class="fa fa-user"></span> Logout</a></li>
					</ul>
				</div>
			</div>
		</div>

	</div>

</section>
<!--//top-header-content-->

<!--w3l-banner-slider-main-->
<section class="w3l-banner-slider-main">

	<div class="bannerhny-content">
		<header class="top-headerhny">
			<!--/nav-->
			<nav class="navbar navbar-expand-lg navbar-light fill">
				<div class="container-fluid">
					<a class="navbar-brand" href="/">
						<label class="lohny"><span class="fa fa-graduation-cap" aria-hidden="true"></span>Students</label>Hub</a>
					<!-- if logo is image enable this
						<a class="navbar-brand" href="#index.html">
							<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
						</a> -->
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mx-lg-auto ml-auto">
							<li class="nav-item active">
								<a class="nav-link" href="/">Home</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="/upload">Upload</a>
							</li>
              <li class="nav-item">
								<a class="nav-link" href="{%url 'list_of_categories'%}">Courses</a>
							</li>
              <li class="nav-item">

							<!-- <li class="nav-item">
								<a class="nav-link" href="services.html">Courses</a>
							</li> -->

							{%if user.is_staff %}
							<li class="nav-item">
								<a class="nav-link" href="/approve">Pending Approvals :{{approvals}}</a>
							</li>
							{%endif%}
						</ul>

					</div>
					<script>
						$(document).ready(function(){
							$("#txtSearch").autocomplete({
								source: "/ajax_calls/search/",
								minLength: 2,
								open: function(){
									setTimeout(function () {
										$('.ui-autocomplete').css('z-index', 99);
									}, 0);
								}
							  });
						});
					  </script>
					<form id="search" method="GET" action="{% url 'search_view' %}" class="d-flex searchhny-form" onsubmit="window.location.reload();myButton.disabled = true;   return true;">
						<!-- {% csrf_token %} -->
						<input type="text" class="form-control" placeholder="Search Here..." required='required' id="txtSearch" name="txtSearch">
						<button type="submit" class="btn btn-default btn-submit"><span class="fa fa-search" ></span></button>
						</form>
				</div>
			</nav>
			<!--//nav-->
		</header>

		<!--/banner-slider-->
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<!--		<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
			</ol> -->
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="container">
						<div class="carousel-caption">

							<h3>Motivated by the desire to Learn </h3>
							<p>Get your doubts solved instantly, 24x7</p>
							<div class="button-4 mx-auto">
								<div class="eff-4"></div>
								<a href="/category"> View Courses</a>
							  </div>

						</div>
					</div>
				</div>


			</div>

		</div>

	</div>
	<!--//banner-slider-->

</section>

<!-- //content-6-section -->

<section class="w3l-content-6">
	<!-- /content-6-section -->

	<div class="content-6-mian py-5">
		<div class="container py-lg-5">

         <section class="w3l-apply-6">
         	<!-- /apply-6-->
         	<div class="apply-info py-5">
         		<div class="container py-lg-5">
         			<div class="apply-grids-info row">
         				<div class="apply-gd-left col-lg-7">
                   <h4>Welcome To StudentsHub</h4>
                   <p class="para-apply">It’s open to all! Hurry up. Get the best resources for FREE.</p>
                 <div class="row mt-lg-5 mt-4">
                   <div class="col-md-6 sub-apply mt-4">
                       <div class="apply-sec-info">
                           <div class="appyl-sub-icon">
                             <span class="fa fa-line-chart"></span>
                           </div>
                           <div class="appyl-sub-icon-info">
                               <h5><a href="#">Empower Teachers and Students</a></h5>
                             <p>Here, it doesn't matter if you're a teacher or a student as long as you are a curious learner.</p>
                           </div>

                         </div>

                   </div>
                   <div class="col-md-6 sub-apply mt-4">
                       <div class="apply-sec-info">
                           <div class="appyl-sub-icon">
                             <span class="fa fa-clock-o"></span>
                           </div>
                           <div class="appyl-sub-icon-info">
                               <h5><a href="#">Lifetime access</a></h5>
                             <p>We provide you with this resources to make sure you go out there and make our nation a better place to live in.</p>
                           </div>

                         </div>
                   </div>
                 </div>
               </div>

         				<div class="apply-gd-right col-lg-5 mt-lg-0 mt-5">
         					</div>
         				</div>
         			</div>
         		</div>
         	</div>
         </section>

      <section class="w3l-specification-6">
      	<!-- /specification-6-->
      	<div class="specification-content py-5">
      		<div class="container py-lg-5">
      			<div class="mission-grids-info row">
      				<div class="mission-gd-left col-lg-7">
      					<div class="grids-inn-ab">
      						<div class="sub-mission one-top">
      							<div class="mission-sec-gd">
      									<img src="{% static 'images/p1.jpg'%}" alt="" class="img-fluid" />
      							</div>
      							<div class="mission-sec-gd">
      									<img src="{% static 'images/p2.jpg'%}" alt="" class="img-fluid" />
      							</div>

      						</div>
      						<div class="sub-mission">
      								<div class="mission-sec-gd">
      										<img src="{% static 'images/p6.jpg'%}" alt="" class="img-fluid" />
      								</div>
      								<div class="mission-sec-gd">
      										<img src="{% static 'images/p4.jpg'%}" alt="" class="img-fluid" />
      								</div>

      							</div>
      					</div>
      				</div>
      				<div class="mission-gd-right col-lg-5 pl-lg-4">

      						<h3 class="hny-title">Our Mission</h3>
                  <p>Students Hub provides you with all the resources you need to crack your career/future goals. We make sure no matter who you are, a student/teacher/curious learner, you are provided with whatever you require from us.</p>
      				</div>
      			</div>
      		</div>

      </section>

<section class="w3l-features-1">

	<!-- /features-1-->
	<div class="features-1-mian py-5">

		<div class="container py-lg-5">
			<!-- /title-->

			<!-- //title-->
			<!-- /grids-->

			<div class="row grids-innf my-lg-5">
				<div class="features-1-info col-lg-3 col-md-6">
					<div class="features-1-info-icon">
						<span class="fa fa-user"></span>
					</div>
					<div class="features-1-info-info">
						<h6><a href="#">Variety of Courses</a></h6>
						<p>Name a course and we'll be there with the required materials.</p>
					</div>

				</div>
				<div class="features-1-info col-lg-3 col-md-6">
					<div class="features-1-info-icon">
						<span class="fa fa-book"></span>
					</div>
					<div class="features-1-info-info">
						<h6><a href="#">Latest Materials</a></h6>
						<p>We provide you with the most recent and updated materials.</p>
					</div>

				</div>
				<div class="features-1-info col-lg-3 col-md-6">
					<div class="features-1-info-icon">
						<span class="fa fa-thumbs-o-up"></span>
					</div>
					<div class="features-1-info-info">
						<h6><a href="#">100% Trustable and Free</a></h6>
						<p>We provide materials that are authentic and gathered from trusted resources.</p>
					</div>

				</div>

				<div class="features-1-info col-lg-3 col-md-6">
					<div class="features-1-info-icon">
						<span class="fa fa-trophy"></span>
					</div>
					<div class="features-1-info-info">
						<h6><a href="#">Our Achievements</a></h6>
						<p>Hope to make it big amongst the youth.</p>
					</div>
				</div>
			</div>
			<!-- //grids-->
			<!-- /counter-->
			<!--div class="counter-main-sec">
				<div class="counter-grids-info">
					<div class="counter-gd">
						<h6>40M</h6>
						<h4>Students</h4>
					</div>
					<div class="counter-gd">
						<h6>60k</h6>
						<h4>Instructors</h4>
					</div>
					<div class="counter-gd">
						<h6>90k</h6>
						<h4>Courses</h4>
					</div>
					<div class="counter-gd">
						<h6>40k</h6>
						<h4>Languages</h4>
					</div>
				</div>
			</div-->
			<!-- //counter-->
		</div>
	</div>
	</div>
</section>
<!-- //w3l-banner-slider-main -->

		<!--	<div class="col-lg-4 title-left">
				<h3 class="hny-title">Files</h3>

			</div>

			{% if user.is_authenticated %}
			<ol>
				{% for post in object %}
				{% if post.access == True %}
				{% if post.pdf.url != null %}
					<li><a href="{{post.pdf.url}}">{{ post.title }}</a>
					  <td>   {{post.rating}}/5.0</td>
					</li>
					<form action="{% url 'rate_vector' post.id %}" method="POST">
						{% csrf_token %}
						<input type="number" min="1" max="5"  id="rating" name="rating">
						<input type="submit" name="submit" value="add rating">
				</form>
					<a href="{% url 'object_view' category_slug=post.category id=post.id %}">view comments</a>


				{% else %}
					<li><a href="{{post.link}}">{{ post.title }}</a>
					  <td>   {{post.rating}}/5.0</td>
					</li>
					<form action="{% url 'rate_vector' post.id %}" method="POST">
						{% csrf_token %}
						<input type="number" min="1" max="5" id="rating" name="rating">
						<input type="submit" name="submit" value="add rating">
				</form>
					<a href="{% url 'object_view' category_slug=post.category id=post.id %}">view comments</a>

				{% endif %}
				{% endif %}
				{% endfor %}
			</ol>
			{% else %}
			  <p>You are not logged in if you wanted to see the files login</p>
			   <ol>
				   {% for post in object %}
				   {% if post.access == True %}
				   {% if post.pdf.url != null %}
					   <li><a href="{%url 'login_view'%}">{{ post.title }}</a>
						 <td>   {{post.rating}}/5.0</td>
					   </li>

				   {% else %}
					   <li><a href="{% url 'login_view'%}">{{ post.title }}</a>
						 <td>   {{post.rating}}/5.0</td>
					   </li>
				   {% endif %}
				   {% endif %}
				   {% endfor %}
			{% endif %}
		</div>

	</div>
</div>-->
</section>


<!-- //features-1-->

<!-- //video-6-->
<!-- portfolio -->


<!-- //portfolio -->

<!-- //apply-6-->

<!--<section class="w3l-customers-6">
	<div class="customers-6-infhny py-5">
		<div class="container py-lg-5">

				<div class="row title-content mb-5">
						<div class="col-lg-4 title-left">
							<h3 class="hny-title">Happy Students</h3>
						</div>
						<div class="col-lg-8 title-info">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eligendi minima accusantium
								reiciendis, cupiditate optio corrupti quis quam at!.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
						</div>
					</div>
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1"></li>
							<li data-target="#myCarousel" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner">
							<div class="item carousel-item active">
								<div class="img-box"><img src="assets/images/c1.jpg" alt=""></div>
								<p class="testimonial">Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio consectetur.Vivamus a ligula quam. Ut blandit eu leo non suscipit. Duis feugiat tortor sed.Nulla quis lorem neque, mattis venenatis lectus.</p>
								<p class="overview"><b>Michael Holz</b>Seo Analyst at <a href="#">Company Exp.</a></p>
								<div class="star-rating">
									<ul class="list-inline">
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star-o"></span></li>
									</ul>
								</div>
							</div>
							<div class="item carousel-item">
								<div class="img-box"><img src="assets/images/c2.jpg" alt=""></div>
								<p class="testimonial">Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio consectetur.Vivamus a ligula quam. Ut blandit eu leo non suscipit. Duis feugiat tortor sed.Nulla quis lorem neque, mattis venenatis lectus.</p>
								<p class="overview"><b>Paula Wilson</b>Media Analyst at <a href="#">Company Exp.</a></p>
								<div class="star-rating">
									<ul class="list-inline">
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star-o"></span></li>
									</ul>
								</div>
							</div>
							<div class="item carousel-item">
								<div class="img-box"><img src="assets/images/c3.jpg" alt=""></div>
								<p class="testimonial">Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio consectetur.Vivamus a ligula quam. Ut blandit eu leo non suscipit. Duis feugiat tortor sed.Nulla quis lorem neque, mattis venenatis lectus.</p>
								<p class="overview"><b>Antonio Moreno</b>Web Developer at <a href="#">Company Exp.</a></p>
								<div class="star-rating">
									<ul class="list-inline">
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star"></span></li>
										<li class="list-inline-item"><span class="fa fa-star-half-o"></span></li>
									</ul>
								</div>
							</div>
						</div>
						<a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
							<span class="fa fa-angle-left"></span>
						</a>
						<a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
							<span class="fa fa-angle-right"></span>
						</a>
					</div>
		  </div>
	</div>
</section>-->
<!-- //customers-6-->

<!-- footer -->
<section class="w3l-footer-16">
    <div class="w3l-footer-16-main py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 column">
                    <div class="row">
                        <div class="col-md-8 column">

                                <a class="logo-2" href="/">
                                        <label class="lohny-2"><span class="fa fa-graduation-cap" aria-hidden="true"></span>Students</label>Hub</a>

                            <div class="ad-text-inf">
                                <p><span class="color-hny">Address :</span>Amrita School of Engineering, Amritapuri</p>
                             </div>
                             <div class="ad-text-inf">
                                    <p><span class="color-hny">Email :</span>studentshub@gmail.com</p>
                                 </div>
                                 <div class="ad-text-inf">
                                        <p><span class="color-hny">Phone :</span>+91-9947388822</p>
                                     </div>
                        </div>
                        <div class="col-md-4 column">

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 column column3 mt-lg-0 mt-4">

                </div>
                <div class="col-lg-4 col-md-6 column column4 mt-lg-0 mt-4">
                  <div class="col-md-4 column">
                      <h3>Pages</h3>
                      <ul class="footer-gd-16">
                        <li><a href="/">Home</a></li>
                        <li><a href="/upload">Upload</a></li>
                        <li><a href="{%url 'list_of_categories'%}">Courses</a></li>
                        {%if user.is_staff %}
                        <li><a href="/approve">Approvals</a></li>
                        {%endif%}                      </ul>
                  </div>
            </div>
        </div>
    </div>

    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-angle-up"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- //move top -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
</section>
<!-- //footer -->
</body>

</html>

<script src="assets/js/jquery-3.3.1.min.js"></script>
<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!--/filter-->
<script>
  $(document).ready(function () {

    $(".filter-button").click(function () {
      var value = $(this).attr('data-filter');

      if (value == "all") {
        //$('.filter').removeClass('hidden');
        $('.filter').show('1000');
      } else {
        //            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
        //            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
        $(".filter").not('.' + value).hide('3000');
        $('.filter').filter('.' + value).show('3000');

      }
    });

  });
</script>
<!--//filter-->
<!--pop-up-box-->

<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script>
  $(document).ready(function () {
    $('.popup-with-zoom-anim').magnificPopup({
      type: 'inline',

      fixedContentPos: false,
      fixedBgPos: true,

      overflowY: 'auto',

      closeBtnInside: true,
      preloader: false,

      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-zoom-in'
    });

    $('.popup-with-move-anim').magnificPopup({
      type: 'inline',

      fixedContentPos: false,
      fixedBgPos: true,

      overflowY: 'auto',

      closeBtnInside: true,
      preloader: false,

      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom'
    });
  });
</script>

<!--//pop-up-box-->
<script src="assets/js/bootstrap.min.js"></script>
{%endblock%}
