<!DOCTYPE html>
<html>
    <body>
        <center>
            <h3>Sign up</h3>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <table>
                    <tr>
                        <td>{{ field.label_tag }}</td>
                        <td>{{ field }}</td>
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </tr>
              
                </table>
                  <!-- <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                      <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                  </p> -->
                {% endfor %}
                <button type="submit">Sign up</button>
                <td>
                  Already a Member?<a href="/login">Login</a>
                </td>
            </form>
        </center>
    </body>
</html>